.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding-top: 63px;
}


.blue-text {
    
    color: #4BCAFF;
}

.logo {

    color: black;
    text-decoration: none;
    font-size: 80px;


}


.headers-navigation-link {


    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;


}

.headers-navigation-item {

    border: solid white;
    border-width: 0 1px;
    text-align: center;
    padding: 24px 40px 24px 40px;

}

.headers-navigation-list {
    display: flex;
    justify-content: center;

}

.header {
margin: 0 auto;
    margin-top: 40px;
    width: 1280px;
    background-color: #35444F;
}


.wrapper-image { 
    border: 1px solid black;
    margin-top: 49px;
  padding: 75px 268px 73px 297px;

}


.section{
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;

}


.paragraph-1 {
    margin-top: 37px;
    margin-bottom: 10px;
}

.paragraph-1,
.paragraph-2 {
    width: 885px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
  
}

.main {

    display: flex;
    gap: 52px;

}

.side-list {
    margin: 0 0 0 auto;

    box-sizing: border-box;
    border: 1px solid black;
    width: 344px;
    height: 399px;
    margin-top: 37px;
    padding-left: 44px;
    padding-top: 37px;
    text-align: left;

}

.side-list-item {
    width: 344px;
    height: calc(399px/5);
    font-size: 27px;
    color: #495863;




}



.footer-navigation-list {
    padding-left: 30px;
    box-sizing: border-box;
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 28px;
    margin-right: 170px;



}


.footer-navigation-link {
    text-decoration: none;
    color: black;



}

.footer-navigation-item {

    text-align: left;
    margin-right: 20px;

}

.footer {
margin: 0 auto;
    display: flex;
    width: 1280px;
    background-color: #63696E7A;
    margin-top: 51px;
    padding-top: 20px;
    padding-bottom: 21px;
}

.footer-item {

    font-size: 24px;

}

.hover-footer {
    text-decoration: none;
    color: black;
}

.hover-footer:hover {
    color: #3181A6;

}

.side-list-link {
    text-decoration: none;
    color: #495863;
}

.hover-side {
    text-decoration: none;
    color: #495863;
}

.hover-side:hover {
    background-color: #DBDBDB;
}